@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.App {
  text-align: center;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #444;
  padding: 0 10px;
  background-image: url("./assets/background.png");
  background-size: cover;
}
h2 {
  line-height: 1.2;
}

/*
media querie for mobile
*/
@media (max-width: 600px) {
  body {
    margin: 40px auto;
    line-height: 1.6;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #444;
    padding: 0 5px;
    background-image: url("./assets/apex_mobile.jpg");
    background-size: cover;
  }

  .video {
    width: 100%;
  }
}

.heading {
  font-weight: bolder;
}

.video {
  margin: 2rem 0;
}
